{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

	<style type="text/css">
		#color-palette {
			width: 300px;
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 0;
		}
    
    

		.swatch {
			width: 24px;
			height: 24px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
        
      
      
		}
	</style>

	<script type="text/javascript" canvas="canvas">
    
    
		window.onload = function() {
      
      
			var canvas = document.getElementById('myCanvas');
      
      console.log("this executes");
      
      
      
        
       // paper.view.draw();

			
      /* //this gives the mandala background image
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg'
			};	 */

			// color palette
			var cp = {
				history: ["#000000", "#E1BF0E"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}
      
      
			function myGradientInteraction(){
				var tool = new paper.Tool();
        
        
        
        //goal, make a new rectangle without any bullshit copypaste
        var topLeft = new paper.Point(175,275);
        var size = new paper.Size(400,200);
        var rect = new paper.Rectangle(topLeft, size);
        var rpath = new paper.Path.Rectangle(rect);
        
        rpath.fillColor = 'red';
        //rpath.closed = true;
        paper.view.draw();
        

				tool.onMouseDown = function (event) {
          
          
          
				}

				tool.onMouseUp = function (event) {
          
          rpath.fillColor = {
              gradient: {
              stops: [cp.history[cp.history.length -2], cp.history[cp.history.length-1]],
              
              },
          origin: event.downPoint,
          destination: event.point
};
          
          
          
					
				}
			} 
      
      function pottersWheel() {
        
        var tool = new paper.Tool();
        
        //wheel center point, @center of canvas
        var wheelCenter = new paper.Point(350,350);
        
        //create the potters wheel
        var wheel = new paper.Path.Circle({
          center: wheelCenter,
          radius: 300,
          strokeColor: 'black',
          strokeWidth: 5
        });
        
        //test line to check if animation works
        var testPath = new paper.Path();
        testPath.strokeColor = 'blue';
        testPath.add(new paper.Point(400,400));
        testPath.add(new paper.Point(350,400));
        
        
        //animate the wheel, rotates 3 frames per second
        function onFrame(event) {
          wheel.rotate(3);
          testPath.rotate(3);
          console.log("frame execution");
        }
        
        
        
        paper.view.draw();
        
        //onFrame();
        
        
        
        
      }

			// your custom interaction goes here!
			// you may replace everything
			function myCustomInteraction() {
				
        
        var tool = new paper.Tool();
        
        var wheelCenter = new paper.Point(350,350);
        console.log(wheelCenter);
        
        //create the potters wheel and animate it
        var wheel = new paper.Path.Circle({
          center: wheelCenter,
          radius: 200,
          fillColor: 'blue'
        });
        
        paper.view.draw();
        
        

        
        
				tool.onMouseDown = function (event) {
				    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				    if (hit) {
				        hit.item.fillColor = cp.history[cp.history.length - 1];
				    }
				}
        console.log(cp.history);
        
			}


			// create a color palette with the given colors
			function createColorPalette(colors){

				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
					$swatch.click(function(){
						// add color to the color palette history
					  	cp.history.push($(this).css("background-color"));
					});
					cp.$container.append($swatch);
				}
			}

			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				getColorsCreatePalette();
        
        
        var tool = new paper.Tool();
        
        
        //array to hold all curves drawn from mousedrags
        var allPaths = [];
        
        var currPath;
        var rotationPath;
        
        //wheel center point, @center of canvas
        var wheelCenter = new paper.Point(350,350);
        
        //create the potters wheel
        var wheel = new paper.Path.Circle({
          center: wheelCenter,
          radius: 300,
          strokeColor: 'black',
          strokeWidth: 5
        });
        
        //test line to check if animation works
        var testPath = new paper.Path();
        testPath.strokeColor = 'blue';
        testPath.add(new paper.Point(400,400));
        testPath.add(new paper.Point(405, 405));
        //testPath.add(new paper.Point(350,400));
        
        
        //hold down to create a continous curve with respect to wheelCenter
        tool.onMouseDown = function(event) {
          currPath = new paper.Path();
          currPath.strokeColor = cp.history[cp.history.length-1];
          console.log("onMOuseDown execute");
          
          rotationPath = new paper.Point()
          
          //currPath.add(currPath.rotate(4, wheelCenter));
          
        }
        
        
        //creates a curve from the last position to the new position of mouse
        tool.onMouseDrag = function(event) {
          //currPath.add(event.point);
          currPath.add(currPath.rotate(1, wheelCenter));
        }
        
        
        //add the curve to allPaths, which then gets animated in onFrame
        tool.onMouseUp = function(event) {
          allPaths.push(currPath);
        }
        
        
        
        //correct way to use onFrame, without paperscript (ie plain javascript)
        paper.view.onFrame = function(event) {
          for (var i = 0; i < allPaths.length; i++) {
            allPaths[i].rotate(4, wheelCenter);
          }
          //testPath.rotate(3, wheelCenter);
        }
        
        
        paper.view.draw();
        
        
        
        /*
				paper.project.importSVG(mandala.filePath, function(item) { 
					mandala.item = item._children["design-freepik"];
				    paper.project.insertLayer(0,mandala.item);

				    if (custom) {
				    	myCustomInteraction();	
				    } else {
				    	myGradientInteraction();
				    }		
					
				}); */ 
			}

			// To see your myGradientInteraction version visit: 
			// http://<your url>:8000/coloring/?type=gradient
			// To see your myCustomInteraction version visit: 
			// http://<your url>:8000/coloring/
			var url = window.location.href;
			if (url.indexOf("gradient") > -1) {
				init(false);
			} else {
				init(true);
			}
		}
	</script>
</head>
<body>


	 <canvas id="myCanvas" width="750px" height="750px"></canvas>
  
	<div id="color-palette"></div>
</body>
</html>